$primary-color:#7928ec;
$success-color:#4caf50;
$danger-color: #f44336;
$warning-color: #ff9800;
$secondary-color: #f5f5fc;
$primary-font-color: #000000;
$accent-color: #4c8d29;
$light-color: #ffffff;
$background-color: #faf9fa;
$border-bottom: #9e9ea0;
$primary-gradient:linear-gradient(330deg,#00bcd4,#2196f3);
$primary-button-shadow:#1b9cee9e;
$transparency: rgba(0,0,0,0.12);
$primary-hover: #005a91;
$card-shadow: 2px 2px 16px rgba(0,0,0,0.12);
$button-shadow: 1px 1px 8px rgba(0,0,0,0.12);
